.progress-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}

.progress-item {
  text-align: center;
  cursor: pointer;
}

.progress-value {
  font-size: 32px;
  font-weight: 700;
  color: var(--app-primary);
  margin-top: 8px;
}
